







<div class="container">
  <input type="text" [(ngModel)]="placaFiltro" placeholder="Ingrese la placa">
    <button (click)="buscar()">Buscar</button> 

    <input type="text" [(ngModel)]="marcaFiltro" placeholder="Ingrese la marca">
    <button (click)="buscarPorMarca()">Buscar</button>

    <input type="text" [(ngModel)]="marcaFiltro" placeholder="Ingrese El precio ">
    <button (click)="buscarPorPrecio()">Buscar</button>


    <input type="text" [(ngModel)]="precioFiltro" placeholder="Ingrese el precio">
  <button (click)="buscarPorPrecio()">Buscar</button>


    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
        <th>Placa</th>
        <th>Marca</th>
        <th>Color</th>
        <th>Año</th>
        <th>Precio</th>
        <th>Acciones</th>

        </tr>
      </thead>
      <tbody>
        @for(item of personas; track item) {
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.placa}}</td>
          <td>{{item.marca}}</td>
          <td>{{item.color}}</td>
          <td>{{item.ano}}</td>
          <td>{{item.precio}}</td>
           <td>
            <button [routerLink]="['/info',item.id]">info</button>
            <button [routerLink]="['/editar',item.id]">editar</button>
           
            <button  (click)="eliminar(item.id)">Eliminar</button>
           </td> 
        </tr>
        }
      </tbody>
    </table>

    <div class="gallery">
      <div class="gallery-item" *ngFor="let item of personas; let i = index">
        <img [src]="item.imagenURL" alt="Imagen {{i}}">
        <div class="info">
          <p>ID: {{ item.id }}</p>
          <p>Placa: {{ item.placa }}</p>
          <p>Marca: {{ item.marca }}</p>
          <p>Color: {{ item.color }}</p>
          <p>Año: {{ item.ano }}</p>
          <p>Precio: {{ item.precio }}</p>
        </div>
        <div class="actions">
          <button [routerLink]="['/info', item.id]">Info</button>
          <button [routerLink]="['/editar', item.id]">Editar</button>
          <button (click)="eliminar(item.id)">Eliminar</button>
        </div>
      </div>
    </div>



  </div>
  
    
